<div class="mt-5" style="padding-left: 250px; padding-right: 250px;">
  <h2>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "user name" }%>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <div data-controller="creator-form">
      <%= f.input :creator, as: :boolean, label: "Are you a creator?",
          input_html: { data: { creator_form_target: "checkbox", action: "change->creator-form#toggle" } } %>

        <div class="creator-fields" data-creator-form-target="fields">
          <%= f.input :bio, as: :text, label: "Bio", class: "rounded" %>
          <%= f.input :social, label: "Social Media Link", class: "rounded" %>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "btn btn-primary px-3 rounded-pill mt-3" %>
    </div>
  <% end %>

  <%# <%= render "devise/shared/links" %>
</div>
