<%= turbo_stream.replace "favorite_icon_#{@recipe.id}" do %>
  <div id="favorite_icon_<%= @recipe.id%>">
    <% if user_signed_in? %>
      <% favorite = current_user.favorites.find_by(recipe_id: @recipe.id) %>
      <% if favorite %>
        <!-- Delete favorite link -->
        <%= link_to favorite_path(favorite),
                      data: { turbo_method: :delete },
                      class: "favorite-link" do %>
          <i class="fa-solid fa-heart favorite-icon"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
<%= turbo_stream.replace "modal-icon-#{@recipe.id}" do %>
  <div id="modal-icon-<%= @recipe.id%>">
    <% if user_signed_in? %>
      <% favorite = current_user.favorites.find_by(recipe_id: @recipe.id) %>
      <% if favorite %>
        <!-- Delete favorite link -->
        <%= link_to favorite_path(favorite),
                      data: { turbo_method: :delete },
                      class: "favorite-link" do %>
          <i class="fa-solid fa-heart favorite-icon"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
