<%= render "shared/banner" %>

<div id="flash-messages">
  <%= render "shared/flashes" %>
</div>

<div class="container-fluid">
  <div class="button mt-3 mb-3">
    <%= link_to home_path, class: "icon-back btn btn-ghost rounded-pill text-black fs-5 d-flex align-items-center gap-2" do %>
      <i class="fa-solid fa-arrow-left-long" style="font-color: #590202"></i>
      <p class="mb-0" style="font-size: 18px; font-weight: bold;"><strong>Go Back</strong></p>
    <% end %>
    <div class="d-flex">
      <h2 class="mt-3 mb-5">ALL <span class="text-black">RECIPES</span></h2>
    </div>
  </div>
  <div class="cards">
    <% @recipes.each do |recipe| %>
      <%= render "shared/card", recipe: recipe %>
    <% end %>
  </div>
</div>
<!-- Render Modals -->
<% if @favorite_recipes.present? %>
  <% @favorite_recipes.each do |recipe| %>
    <%= render "shared/modal", recipe: recipe %>
  <% end %>
<% end %>

<% @recipes.each do |recipe| %>
  <%= render partial: "shared/modal", locals: { recipe: recipe } %>
<% end %>
