<h2>this is the index page, yay!</h2>
<div class="container">
  <div class="d-flex">
    <%= render "shared/card"%>
    <%= render "shared/card"%>
    <%= render "shared/card"%>
    <%= render "shared/card"%>
    <%= render "shared/card"%>
    <%= render "shared/card"%>
  </div>
</div>
