<%# FORCE TUBRO TO RELOAD PAGE %>
<%= turbo_page_requires_reload %>

<%= render "shared/recipe_banner" %>

<div class="container-fluid d-flex">
  <div class="col-4 mt-2">
    <div class="button mb-3 d-flex">
      <%= link_to home_path, class: "icon-back btn btn-ghost rounded-pill text-black fs-5 d-flex align-items-center gap-2" do %>
        <i class="fa-solid fa-arrow-left-long"></i>
        <p class="mb-0" style="font-size: 18px; font-weight: bold;"><strong>Go Back</strong></p>
      <% end %>
    </div>
    <div class="mb-3">
      <% if @recipe.image.present? && @recipe.image.key? %>
        <%= cl_image_tag(@recipe.image.key, gravity: "auto", width: 420, height: 280, crop: "auto", class: "img-fluid justify-content-center custom-border") %>
      <% end %>
    </div>
    <div>
      <h2 class="mb-3">Description</h2>

        <% if (@recipe) %>
            <p><%= @recipe.description %></p>
        <% end %>

        <% if @recipe && @recipe.utensils.present? && @recipe.utensils.downcase != "none" %>
          <h2 class="mb-2">Utensils</h2>
          <p><%= @recipe.utensils %></p>
        <% end %>
    </div>
  </div>

  <div class="col-4 mt-5 mx-5 scrollable">
    <h2 class="mb-5">Ingredients</h2>

    <% if (@recipe) %>
      <% @recipe.ingredients.each do |ingredient| %>
        <p><%= ingredient %></p>
      <% end %>
    <% end %>

  </div>

  <div class="col-3 mt-5">

    <div class="button" style="position: sticky">
      <%= link_to "Get Cooking!", cookmode_recipe_path(@recipe), class: "btn btn-primary rounded-pill px-5 py-2 text-white fs-3 w-100" %>
    </div>

    <div class="scrollable px-2">
      <%= render 'shared/recipe_reviews' %>
    </div>
  </div>


</div>
