<%= render "shared/recipe_banner" %>

<div class="container-fluid d-flex">
  <div class="col-3">

    <h2 class="mb-5 lato-bold">Ingredients</h2>
    <% if (@recipe) %>
      <% @recipe.ingredients.each do |ingrdient| %>
        <p><%= ingrdient %></p>
      <% end %>
    <% end %>

    <% if @recipe && @recipe.utensils.present? && @recipe.utensils.downcase != "none" %>
      <h2 class="mb-3 lato-bold">Utensils</h2>
      <p><%= @recipe.utensils %></p>
    <% end %>
  </div>

  <div class="col-4 mt-5 mx-4 scrollable">
    <h2 class="lato-bold mb-5 mt-3">Instructions</h2>
     <% if (@recipe) %>
      <% @recipe.method.each_with_index do |step, index| %>
        <h6 class="mt-5"><strong>Step <%= index+1 %></strong></h6>
        <p><%= step %></p>
      <% end %>
    <% end %>
  </div>

  <div class="col-4 video mt-5">
    <div style="width: 100%;">
      <div class="video mt-5">
        <iframe width="560" height="315" src="<%= @recipe.video_link %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div style="display: flex; justify-content: center;">
        <%= link_to raw('<i class="fa-solid fa-arrow-left-long"></i>'), "javascript:history.back()", class: "btn btn-primary rounded-pill px-3 mx-2" %>
        <%= link_to "Cook!", cookmode_recipe_path, class: "btn btn-primary rounded-pill px-3" %>
      </div>
    </div>
  </div>

</div>
