<%= render "shared/banner" %>

<div class="d-flex">

  <div class="col-3">
    <%= render "shared/info_box" %>
    <h2>ingredients</h2>
      <% if (@recipe) %>
      <p><%= @recipe.ingredients %></p>
    <% end %>

    <h2>utensils</h2>
    <% if (@recipe) %>
      <p><%= @recipe.utensils %></p>
    <% end %>
  </div>

  <div class="col-3">
    <h2>instructions</h2>
    <% if (@recipe) %>
      <p><%= @recipe.method %></p>
    <% end %>
  </div>

 <div class="col-6">
    <div style="width: 100%;">
      <div style="display: flex; justify-content: center;">
        <%= link_to raw('<i class="fa-solid fa-arrow-left-long"></i>'), "javascript:history.back()", class: "btn btn-primary rounded-pill px-3" %>
      </div>
      <div class="info_box" style="background-color: gray;">
        <h1>just a placeholder box for the video</h1>
        <h2>reused the info_box but should be replaced once we have videos</h2>
      </div>
      <div style="display: flex; justify-content: center;">
        <%= link_to "Cook!", cookmode_recipe_path, class: "btn btn-primary rounded-pill px-3" %>
      </div>
    </div>
  </div>

</div>
