
  <div class="card-resize">
    <div class="card-category">
      <div class="photo">
        <i class="fa-regular fa-heart favorite-icon"></i>
        <a href="#" data-bs-toggle="modal" data-bs-target="#recipeModal-<%= recipe.id %>">
        <% if recipe.image.present? && recipe.image.key? %>
          <%= cl_image_tag(recipe.image.key, gravity: "auto", width: 298, height: 220, crop: "auto", class: "img-fluid justify-content-center") %>
        </a>
        <% end %>
      </div>
      <div class="content d-flex justify-content-between align-items-center">
        <h4 class="card-title"> <%= recipe.title %></h4>
        <a href="#" class="avatar-card">
          <% if recipe.user.avatar.present? && recipe.user.avatar.key? %>
            <%= cl_image_tag(recipe.user.avatar.key, class: "avatar-card", transformation: [
              {gravity: "face", height: 200, width: 200, crop: "thumb"},
              {radius: "max"},
              {fetch_format: "auto"}
            ]) %>
          <% else %>
            <i class="fa-solid fa-user avatar-card"></i>
          <% end %>
        </a>
      </div>
    </div>
  </div>


<!-- Render Modals -->

<% @recipes.each do |recipe| %>
  <%= render "shared/modal", recipe: recipe %>
<% end %>
