<div class="cards">
  <div class="card-resize">
    <div class="card-category">
      <div class="photo">
        <% if user_signed_in? %>
          <% favorite = current_user.favorites.find_by(recipe_id: recipe.id) %>
            <% if favorite %>
              <%= form_with url: favorite_path(favorite), method: :delete, class: "favorite-form" do %>
                <button type="submit" class="favorite-link">
                  <i class="fa-solid fa-heart favorite-icon"></i>
                </button>
              <% end %>
            <% else %>
              <%= form_with url: favorites_path, method: :post, class: "favorite-form" do %>
                <%= hidden_field_tag :recipe_id, recipe.id %>
                <button type="submit" class="favorite-link">
                  <i class="fa-regular fa-heart favorite-icon"></i>
                </button>
              <% end %>
            <% end %>
          <% end %>
        <a href="#" data-bs-toggle="modal" data-bs-target="#recipeModal-<%= recipe.id %>">
        <% if recipe.image.present? && recipe.image.key? %>
          <%= cl_image_tag(recipe.image.key, gravity: "auto", width: 298, height: 220, crop: "auto", class: "img-fluid justify-content-center") %>
        </a>
        <% end %>
      </div>
      <div class="content d-flex justify-content-between align-items-center">
        <h4 class="card-title"> <%= recipe.title %></h4>
        <a href="#" class="avatar-card">
          <% if recipe.user.avatar.present? && recipe.user.avatar.key? %>
            <%= cl_image_tag(recipe.user.avatar.key, class: "avatar-card", transformation: [
              {gravity: "face", height: 200, width: 200, crop: "thumb"},
              {radius: "max"},
              {fetch_format: "auto"}
            ]) %>
          <% else %>
            <i class="fa-solid fa-user avatar-card"></i>
          <% end %>
        </a>
      </div>
    </div>
  </div>
</div>


<!-- Render Modals -->

<% @recipes.each do |recipe| %>
  <%= render "shared/modal", recipe: recipe %>
<% end %>
