<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1588416820614-f8d6ac6cea56?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div>
    <%= link_to root_path do %>
      <%= image_tag "foodiefeed_logo_klein.png", style: "height: 40px;" %>
    <% end %>
    <h1 class="recipe-title-red" style="font-size: 50px;"><%= @recipe.title %></h1>

    <p class="recipe-title-red text-white" style="font-size: 15px; letter-spacing: 0.05vw;">
      BY <%= link_to @recipe.user.user_name.upcase, user_path(@recipe.user), class: "text-white", style: "font-size: 15px; letter-spacing: 0.05vw;" %>
    </p>
  </div>
  <div class="nav-items d-flex justify-content-end">
    <i class="fa-solid fa-filter"></i>
    <i class="fa-solid fa-magnifying-glass"></i>
    <i class="fa-solid fa-book"></i>
    <i class="fa-solid fa-receipt"></i>
    <% if user_signed_in? %>
      <!-- Avatar link with dropdown toggle -->
      <a href="#" class="avatar dropdown-toggle no-arrow" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <% if current_user.avatar.present? && current_user.avatar.key.present? %>
          <%= cl_image_tag(current_user.avatar.key, class: "avatar", transformation: [
            {gravity: "face", height: 200, width: 200, crop: "thumb"},
            {radius: "max"},
            {fetch_format: "auto"}
          ]) %>
        <% else %>
          <i class="fa-solid fa-user avatar"></i>
        <% end %>
      </a>
      <% end %>
      <!-- Dropdown menu -->
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <%= link_to "Submit new recipe", new_recipe_path, class: "dropdown-item" %>
        <%= link_to "My Profile", user_path(current_user), class: "dropdown-item" %>
        <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item" %>
        <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
      </div>
  </div>
</div>
