<!-- Modal -->

<div class="modal fade" id="recipeModal-<%= recipe.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-controller="card" data-action="shown.bs.modal->card#show hidden.bs.modal->card#hide">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4 position-relative">
      <div class="cards position-relative d-flex">
        <!-- Left Image Section -->
        <div class="card-category-modal position-relative">
          <div class="photo position-relative">
            <div id="modal-icon-<%= recipe.id %>">
              <% if user_signed_in? %>
                <% favorite = current_user.favorites.find_by(recipe: recipe) %>
                <% if favorite %>
                  <%= link_to favorite_path(favorite),
                        data: { turbo_method: :delete },
                        class: "favorite-link" do %>
                    <i class="fa-solid fa-heart favorite-icon"></i>
                  <% end %>
                <% else %>
                  <%= link_to favorites_path(recipe_id: recipe.id),
                        data: { turbo_method: :post },
                        class: "favorite-link" do %>
                    <i class="fa-regular fa-heart favorite-icon"></i>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <% if recipe.image.present? && recipe.image.key? %>
              <%= cl_image_tag(recipe.image.key, gravity: "auto", width: 298, height: 220, crop:"auto", class: "img-fluid justify-content-center") %>
            <% end %>
          </div>
          <div class="content d-flex justify-content-between align-items-center">
            <h4 class="card-title"> <%= recipe.title %></h4>
            <a href="<%= user_profile_path(recipe.user) %>" class="avatar-card dropdown-toggle no-arrow" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if recipe.user.avatar.present? && recipe.user.avatar.key? %>
                <%= cl_image_tag(recipe.user.avatar.key, class: "avatar-card", transformation: [
                  {gravity: "face", height: 200, width: 200, crop: "thumb"},
                  {radius: "max"},
                  {fetch_format: "auto"}
                ]) %>
              <% else %>
                <i class="fa-solid fa-user avatar-card"></i>
              <% end %>
            </a>
          </div>
        </div>
        <!-- Right Sliding Content Section -->
        <div data-card-target="content" class="sliding-content position-absolute bg-light p-4 shadow-lg d-flex flex-column">
          <h4>by <%= recipe.user.user_name %></h4>
          <div class="info-items justify-content-start align-items-center mt-2 mb-4">
            <div class="d-flex">
              <i class="fas fa-clock pt-1"></i>
              <p class="px-2"><%= recipe.cook_time %></p>
            </div>
            <div class="d-flex">
              <i class="fas fa-leaf pt-1"></i>
              <p class="px-2"><%= recipe.cuisine_type %></p>
            </div>
            <div class="d-flex">
              <i class="fas fa-globe pt-1"></i>
              <p class="px-2"><%= recipe.dietary_restrictions %></p>
            </div>
            <%= link_to "Go To Recipe!", recipe_path(recipe), class: "btn btn-primary rounded-pill text-white d-flex justify-content-center align-content-center mt-2 mb-4" %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
