<!-- Modal -->
<div class="modal fade" id="recipeModal-<%= recipe.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-controller="card" data-action="shown.bs.modal->card#show hidden.bs.modal->card#hide">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4 position-relative">
      <div class="cards position-relative d-flex">

        <!-- Left Image Section -->
        <div class="card-category-modal position-relative">
          <div class="photo position-relative">


            <% if user_signed_in? %>
              <% favorite = current_user.favorites.find_by(recipe: recipe) %>
                <% if favorite %>
                  <%= link_to favorite_path(favorite),
                        data: { turbo_method: :delete },
                        class: "favorite-link" do %>
                  <i class="fa-solid fa-heart favorite-icon"></i>
                  <% end %>
                <% else %>
                  <%= link_to favorites_path(recipe_id: recipe.id),
                        data: { turbo_method: :post },
                        class: "favorite-link" do %>
                  <i class="fa-regular fa-heart favorite-icon"></i>
                  <% end %>
                <% end %>
              <% end %>
          </div>
          <div class="content d-flex justify-content-between align-items-center">
            <h4 class="card-title"> <%= recipe.title %></h4>
            <a href="#" class="avatar-card dropdown-toggle no-arrow" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if recipe.user.avatar.present? && recipe.user.avatar.key? %>
                <%= cl_image_tag(recipe.user.avatar.key, class: "avatar-card", transformation: [
                  {gravity: "face", height: 200, width: 200, crop: "thumb"},
                  {radius: "max"},
                  {fetch_format: "auto"}
                ]) %>
              <% else %>
                <i class="fa-solid fa-user avatar-card"></i>
              <% end %>
            </a>
          </div>
        </div>

        <!-- Right Sliding Content Section -->
        <div data-card-target="content" class="sliding-content position-absolute bg-light p-4 shadow-lg d-flex flex-column">
          <h4>Delicious & luxurious.</h4>
          <p class="mx-4">This recipe is the culmination of class. <br> A perfect example of Italian heritage.</p>
          <%= link_to "Go To Recipe!", recipe_path(recipe), class: "btn btn-primary rounded-pill text-white d-flex align-content-center mt-2 mb-4" %>
        </div>

      </div>
    </div>
  </div>
</div>
