<%= render "shared/banner" %>


<div class="container-fluid">
  <div class="row">
    <h4 class="mt-4 mb-1 lato-bold">FEATURED RECIPES</h4>
    <div class="cards mb-3">
      <% @recipes.each do |recipe| %>
        <div class="card-resize">
          <div class="card-category" style="background-color: #de6f2e;">
            <div class="photo mt-2 mb-1">
              <a href="<%= recipe_path(recipe) %>">
                <%= image_tag("ragu_still.png", gravity: "auto", width: 280, height: 240, crop: "auto", class: "img-fluid justify-content-center") %>
              </a>
            </div>
            <div class="content d-flex py-1">
              <h4 class="lato-bold"><%= recipe.title %></h4>
              <div class="icons">
                <i class="fa-regular fa-heart"></i>
                <i class="fa-regular fa-bookmark"></i>
                <i class="fa-solid fa-share-from-square"></i>
              </div>
            </div>
          </div>
        </div>
      <% end %>


      <%= render "shared/card"%>
      <%= render "shared/card"%>
      <%= render "shared/card"%>
    </div>
  </div>

  <div class="row">
    <h4 class="mt-4 mb-1 lato-bold">FEATURED EXPERIENCES</h4>
    <div class="cards mb-3">
      <%= render "shared/experience_card"%>
      <%= render "shared/experience_card"%>
      <%= render "shared/experience_card"%>
      <%= render "shared/experience_card"%>
    </div>
  </div>

</div>
