
<%= render "shared/banner" %>

<div class="container-fluid">

  <h4 class="mt-5 mb-5" style="letter-spacing: 0.1rem;">FEATURED <%= link_to "RECIPES", recipes_path, id: "header-link" %></h4>
  <%# Add the entire grid of the first row into the frame. This ensure the entire first row is replaxced and keeps the layout /
      Notice that I added the class="cards" into the frame to hold the layout. THis was trial and error. %>
  <turbo-frame id="recipes">
    <div class="cards">
      <% if @recipes.present? %>
        <% @recipes.each do |recipe| %>
          <%= render partial: "shared/card", locals: { recipe: recipe } %>
      <% end %>
    <% else %>
      <p>No Recipes found.</p>
    <% end %>
    </div>
  </turbo-frame>

  <h4 class="mt-5 mb-5" style="letter-spacing: 0.1rem;">FEATURED <%= link_to "EXPERIENCES", "", id: "header-link" %></h4>
  <div class="cards">

    <% if @recipes.present? %>
      <% @recipes.each do |recipe| %>
        <%= render partial: "shared/card", locals: { recipe: recipe } %>
      <% end %>
    <% else %>
      <p>No experiences found.</p>
    <% end %>

  </div>
</div>



<!-- Render Modals -->
<% if @favorite_recipes.present? %>
  <% @favorite_recipes.each do |recipe| %>
    <%= render "shared/modal", recipe: recipe %>
  <% end %>
<% end %>

<% @recipes.each do |recipe| %>
  <%= render partial: "shared/modal", locals: { recipe: recipe } %>
<% end %>
