<%= render "shared/banner" %>

<div class="container-fluid">

  <h4 class="mt-5 mb-5" style="letter-spacing: 0.1rem;">FEATURED RECIPES</h4>
  <div class="cards">
    <% if @recipes.present? %>
      <% @recipes.each do |recipe| %>
        <%= render partial: "shared/card", locals: { recipe: recipe } %>
      <% end %>
    <% else %>
      <p>No experiences found.</p>
    <% end %>


    <% @recipes.each do |recipe| %>
      <%= render partial: "shared/modal", locals: { recipe: recipe } %>
    <% end %>

    <%# <turbo-frame id="recipes">
      <%= render partial: "shared/recipes", locals: { recipe: @recipes } %>
    <%# </turbo-frame> %>

    </div>

    <h4 class="mt-5 mb-5" style="letter-spacing: 0.1rem;">FEATURED EXPERIENCES</h4>
    <div class="cards">

      <% if @recipes.present? %>
        <% @recipes.each do |recipe| %>
          <%= render partial: "shared/card", locals: { recipe: recipe } %>
        <% end %>
      <% else %>
        <p>No experiences found.</p>
      <% end %>

    </div>
  </div>
</div>


<!-- Render Modals -->
<% if @favorite_recipes.present? %>
  <% @favorite_recipes.each do |recipe| %>
    <%= render "shared/modal", recipe: recipe %>
  <% end %>
<% end %>
