<%= turbo_page_requires_reload %>
<%= render "shared/banner" %>

<div class="container-fluid">
  <h2 class="mt-5 mb-5" style="letter-spacing: 0.1rem;">SEARCH <span class="text-black">RESULTS</span></h2>

  <div class="cards">
    <% if @recipes.any? %>
      <%= render partial: 'shared/recipes', locals: { recipes: @recipes } %>
    <% else %>
      <p>No recipes found matching your query.</p>
    <% end %>
  </div>
</div>

<!-- Render Modals -->
<% if @favorite_recipes.present? %>
  <% @favorite_recipes.each do |recipe| %>
    <%= render "shared/modal", recipe: recipe %>
  <% end %>
<% end %>

<% @recipes.each do |recipe| %>
  <%= render partial: "shared/modal", locals: { recipe: recipe } %>
<% end %>
