<!DOCTYPE html>
<html>
  <head>
    <title>FoodieFeed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<%# COLOUR v1 style="background: #F4EBCA;" %>
<%# COLOUR v2 style="background: #FFF5CF;" %>

  <body style="background: #FFFAE7;">
    <% unless action_name == "landing" || action_name == "configure_sign_up_params" %>
    <% end %>
    <%= render "shared/flashes" %>
    <div id="flash-container">
      <%= render "shared/flashes" %>
    </div>
    <%= yield %>
  </body>
</html>
