<!DOCTYPE html>
<html>
  <head>
    <title>FoodieFeed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<%# OLD COLOUR style="background: #F4EBCA;" %>

  <body style="background: #FFF5CF;">
    <% unless action_name == "landing" || action_name = "configure_sign_up_params" %>
      <%= render "shared/navbar" %>
    <% end %>
    <%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
